* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.description {
    color: blanchedalmond;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.extra {
    color: black;
}