* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: blanchedalmond;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.squares {
    grid-row: 1/2;
    grid-column: 3/4;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 5%;
}

.lines {
    grid-row: 2/4;
    grid-column: 3/4;
    border-top: 1px solid blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

p {
    border-bottom: 1px solid blanchedalmond;
    border-right: 1px solid blanchedalmond;
    margin: 5%;
}

@media only screen and (orientation: portrait) {
    .container {
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    .squares {
        grid-column: 2/3;
    }

    .lines {
        grid-column: 2/3;
    }
}