* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: blanchedalmond;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

.hero {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid blanchedalmond;
    display: grid;
    align-items: center;
    justify-content: center;
}

.description {
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

a:hover {
    color: white;
}

@media only screen and (orientation: portrait) {
    .container {
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    .hero {
        align-content: center;
    }
}